.home-top-first {

}

.navbar {
  height: 20%
}
.navbar-default {
  height: 75px
}

.create-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
.body {
  padding: 10px
}