
.title {
font-family: Arial, sans-serif, Bold;
}

.bl-top {
  width: 100%;
  background-color: #fff569;
}

#bl-wwa {
  background-color: black;
  color: white;
}
#span1 {
  background-color: #fff569;
  border-radius: 25px;
}
#span2 {
  background-color: #fff569;
  border-radius: 25px;
}
#span3 {
  background-color: red;
  border-radius: 25px;
}
#span4 {
  background-color: #8b0000;
  border-radius: 25px;
}
body {

}
.sad {

}
.happy {

}
.angry {

}
.frusterated {

}
.satisfied {

}
.excited {

}
.polite {

}
.impolite {

}
.sympathetic {

}