
.title {
font-family: Arial, sans-serif, Bold;
}

.bl-top {
  width: 100%;
  background-color: #fff569;
}

#bl-wwa {
  background-color: black;
  color: white;
}

body {

}
.sad {

}
.happy {

}
.angry {

}
.frusterated {

}
.satisfied {

}
.excited {

}
.polite {

}
.impolite {

}
.sympathetic {

}